{% extends "admin/change_list.html" %}

{% block content %}
    <div>
        <h2>Формирование отчёта</h2>
        <form method="get" action="generate-report/">
            <label for="start_date">Дата начала:</label>
            <input type="date" name="start_date" required>
            <label for="end_date">Дата окончания:</label>
            <input type="date" name="end_date" required>
            <button type="submit" class="button">Создать отчёт</button>
        </form>
    </div>
    {{ block.super }}
{% endblock %}
